.aboutTitle {
  color: var(--text-gray);
  font-size: 1.75rem;
}

.aboutSubTitle {
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--text-gray);
}

.aboutUs {
  font-size: 2.5rem;
  margin-top: 19.2px;
}

.ourMission {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.aboutParagraph {
  line-height: 2.5rem;
}

.upnflow {
  font-weight: 600;
}

.photoContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--text-gray);
}

.aboutContainer {
  display: flex;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5rem;
}

.homepage {
  color: initial;
}

.homepage:hover {
  color: var(--text-orange);
  text-decoration: underline var(--text-orange);
}
