.aboutTitle {
  color: var(--text-gray);
  font-size: 1.75rem;
}

.aboutSubTitle {
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--text-gray);
}

.aboutUs,
.ourMission {
  font-size: 1.75rem;
  margin-top: 1.25rem;
}

.aboutParagraph,
.aboutParagraphTwo {
  line-height: 2.5rem;
}

.aboutParagraphTwo {
  font-style: italic;
}

.upnflow {
  font-weight: 600;
}

.photoContainer {
  margin: 0;
  padding: 0 5rem 0 3rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--text-gray);
}

.aboutContainer {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 3rem 0 5rem;
}
