.container {
  min-height: inherit;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  color: var(--text-white);
  font-size: 2.3rem;
}

.logo > a:hover {
  color: var(--text-orange);
  transition: all 0.4s ease-in-out;
}

.tagLine {
  color: var(--bg-white);
}

.navLinks {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.navLinks > a:hover {
  color: var(--text-blue);
}

.form {
  border-top: 2px solid var(--text-white);
  padding-top: 2rem;
  display: flex;
}

.emailInput {
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  outline: none;
  background-color: var(--bg-white);
  width: 70%;
}

.emailBtn {
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  color: var(--text-white);
  cursor: pointer;
  width: 30%;
}

.emailBtn:hover {
  background-color: var(--bg-green);
  transition: all 0.4s ease-in-out;
}

/* Media Query Mobile */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 2rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .navLinks {
    font-size: 3rem;
  }

  .emailInput,
  .emailBtn {
    font-size: 1rem;
  }

  .emailInput {
    margin-right: 0;
  }
}
