.card {
  border: 1px solid var(--bg-black);
  box-shadow: 3px 3px 0px 0.5px var(--bg-black);
  padding: 2rem;
  margin-bottom: 3.5rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  width: 48%;
}

.title {
  font-size: 1.8rem;
  padding: 0;
}

/* .description {
  margin: 0 0 1.5rem 0;
} */
