:root {
  /* background colors */
  --bg-white: #fdf5de;
  --bg-black: #272823;
  --bg-green: #76946a;
  --bg-red: #c34043;

  /* text colors */
  --text-black: #272823;
  --text-white: #fdf5de;
  --text-blue: #4a718e;
  --text-orange: #ffa066;
  --text-red: #c34043;
  --text-gray: #727169;
  --text-green: #98bb6c;
}

/* Global Style */
* {
  text-decoration: none;
  box-sizing: border-box;
}

/* General Style */
a:hover {
  transition: all 0.4s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p,
li {
  line-height: 1.5;
}

/* Main Content -- Main Page and Footer */
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.7rem 5rem 3rem 5rem;
  margin-left: 30rem;
  min-height: 100vh;
  font-size: 1.2rem;
  background-color: var(--text-white);
}

/* header */
header {
  position: fixed;
  background-color: var(--bg-black);
  width: 30rem;
  min-height: 100vh;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

/* Media Query Mobile */
