@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  /* background colors */
  --bg-primary: #fdf5de;
  --bg-secondary: #272823;

  /* text colors */
  --text-primary: #272823;
  --text-secondary: #fdf5de;
  --text-accent: #4a718e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "JetBrains Mono", monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-primary);
  width: 100%;
  min-height: 100vh;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--text-secondary);
  text-decoration: inherit;
}
